body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(80, 80, 80);
  color: white;

  * {
    margin: 0px;
    padding: 0px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    font-size: xx-large;
    color: white;

    a {
      &:not(:visited) {
        color: rgb(0, 0, 255);
        &:hover {
          color: white;
        }
        &:focus {
          color: gray;
        }
      }
      &:visited {
        color: rgb(200, 200, 200);
        &:hover {
          color: rgb(0, 0, 255);
        }
        &:focus {
          color: rgb(0, 0, 255);
        }
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
